/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

header {
    position: relative;
}

.navbar-black {
    background-color: #00aeef !important;
    color: white 
}

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
   object-fit: cover;

}

.showcase-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
    z-index: -1;
}

.showcase h1, h2, h3, h4, h5, h6 {
    color: white;
}

.showcase p {
    color: white;
    margin-top: 20px; /* Adjust as needed */
}

.showcase-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Ensure content is above the overlay */
}